* {
  font-family: "Jetbrains Mono NerdFont",FontAwesome;
}

#waybar {
  background: #000000;
  color: #fff;
}

#clock {
  color: #fff;
}

#tray {
  padding-left: 4px;
}

#workspaces button{
  background: transparent;
}

#workspaces button:hover {
  color: #ffffff;
}

#workspaces button.active {
  color: #ffffff;
}

#network {
  color: #3b82f6;
  margin-right: 8px;
  margin-left: 8px;
}

#pulseaudio {
  color: #14b8a6;
  margin-right: 8px;
}

#temperature {
  color: #eab308;
  margin-right: 4px;
}

#custom-powermenu {
  color: #f43f5e;
}

